@mixin inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

@mixin btn-variant($color, $bg, $radius) {
    color: $color;
    background-color: $bg;
    border-radius: $radius;
    box-shadow: 2px 2px 3px #eee;

    @if $support-old-ie{
        &:hover, &-hover{
            color: $color;
            text-decoration: none;
            background-color: darken($bg, 10%);
        }

        &:active, &-active{
            color: $color;
            text-decoration: none;
            background-color: darken($bg, 15%);
            -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
            box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        }

        &:disabled, &-dis{
            color: $color;
            text-decoration: none;
            pointer-events:none;
            background-color: #999;
        }
        
    } @else {
        &:hover, &.btn-hover{
            color: $color;
            text-decoration: none;
            background-color: darken($bg, 10%);
        }

        &:active, &.btn-active{
            color: $color;
            text-decoration: none;
            background-color: darken($bg, 15%);
            -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
            box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        }

        &:disabled, &.btn-dis{
            color: $color;
            text-decoration: none;
            pointer-events:none;
            background-color: #999;
        }
    }
    
}

@mixin alert-variant($color, $bg, $border, $radius) {
    padding: 1em 1.5em;
    line-height: 1.3; 
    margin-bottom: 10px; 
    border: 1px solid transparent; 
    color: $color; 
    background-color: $bg; 
    border: 1px solid $border;
    border-radius: $radius;
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    -moz-transform: opacity .2s ease,color .2s ease,background .2s ease,box-shadow .2s ease;;
    -webkit-transition: opacity .2s ease,color .2s ease,background .2s ease,box-shadow .2s ease;
    transition: opacity .2s ease,color .2s ease,background .2s ease,box-shadow .2s ease;
}
