//if support ie6,7
$support-old-ie: false !default;
$lte7: true;

/*global variant*/
$font-size: 12px !default;
$font-size-bg: 16px !default;
$font-size-small: 11px !default;
$def-radius: 3px !default;

/*常用的颜色默认值*/
$color-default: #fb6310 !default;
$color-orange: #ff8500 !default;
$color-blue: #3b83c0 !default;
$color-yellow: #ffab19 !default;
$color-blue-light: #458ac6 !default;
$color-green: #38b87c !default;
$color-green-light: #5bbd72 !default;
$color-warning: #d95c5c !default;
$color-black: #1b1b1d !default;
$color-purple: #564f8a !default;
$color-teal: #02b5ad !default;
$color-red: #f34540 !default;
$color-white: #fff !default;

/*different status color start*/
$color-primary-font: #337b92 !default;
$color-primary-bg: #e9faff !default;
$color-primary-border: #aad6df !default;

$color-info-font: #337b92 !default;
$color-info-bg: #e9faff !default;
$color-info-border: #aad6df !default;

$color-error-font: #a94442 !default;
$color-error-bg: #fff0f0 !default;
$color-error-border: #dbb1b1 !default;

$color-warn-font: #876a38 !default;
$color-warn-bg: #fffbe6 !default;
$color-warn-border: #d9caab !default;

$color-suc-font: #3c763d !default;
$color-suc-bg: #eeffe7 !default;
$color-suc-border: #b7caa7 !default;
/*different status color end*/

/*button*/
$btn-color-default: #fb6310 !default;
$btn-radius: 3px !default;
$btn-font-color: #fff !default;

/*input variable*/
$color-inp: #129fea !default;
$color-inp-error: #f40 !default;
$color-inp-suc: #43ba3e !default;
$inp-radius: 3px !default;