//if support ie6,7
$support-old-ie: false !default;

$color-default: #fb6310 !default;
$color-orange: #ff8500 !default;
$color-blue: #3b83c0 !default;
$color-yellow: #ffab19 !default;
$color-blue-light: #458ac6 !default;
$color-green: #38b87c !default;
$color-green-light: #5bbd72 !default;
$color-warning: #d95c5c !default;
$color-black: #1b1b1d !default;
$color-purple: #564f8a !default;
$color-teal: #02b5ad !default;
$color-red: #f34540 !default;
$color-white: #fff !default;
$font-color-white: #fff !default;

$btn-radius: 3px !default;

$font-size: 14px !default;
$font-size-bg: 18px !default;
$font-size-small: 11px !default;

$color-inp: #129fea !default;
$color-inp-error: #f40 !default;
$color-inp-suc: #43ba3e !default;
$inp-radius: 3px !default;