//if support ie6,7
$support-old-ie: false;

$color-default: #fb6310;
$color-orange: #ff8500;
$color-blue: #3b83c0;
$color-yellow: #ffab19;
$color-blue-light: #458ac6;
$color-green: #38b87c;
$color-green-light: #5bbd72;
$color-warning: #d95c5c;
$color-black: #1b1b1d;
$color-purple: #564f8a;
$color-teal: #02b5ad;
$color-red: #f34540;
$color-white: #fff;
$font-color-white: #fff;

$btn-radius: 3px;

$font-size: 14px;
$font-size-bg: 18px;
$font-size-small: 11px;