/**
 *@desc: 通用表单输入元素
 */

@charset "utf-8";

.input {
    line-height: 18px;
    padding: 0.5em 0.6em;
    @include inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #eee;
    border-radius: 3px;
    width: 120px;
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
    @include transition( all .2s ease-in-out );

    &:focus{
        outline: 0;
        border-color: $color-inp;
        @include browser-prefix('box-shadow', 0 0 5px lighten($color-inp, 10%) );
    }
}

/*input 其他状态*/
.inp-error{
    border: solid 1px $color-inp-error;
    &:focus{
        outline: 0;
        border-color: $color-inp-error;
        @include browser-prefix('box-shadow', 0 0 5px lighten($color-inp-error, 10%) );
    }
}

.inp-suc{
    border: solid 1px $color-inp-suc;
    &:focus{
        outline: 0;
        border-color: $color-inp-suc;
        @include browser-prefix('box-shadow', 0 0 5px lighten($color-inp-suc, 10%) );
    }
}

/*input 其他大小*/
.inp-xsmall{
    width: 60px;
}
.inp-small{
    width: 100px;
}
.inp-large{
    width: 150px;
}
.inp-xlarge{
    width: 200px;
}